pkgbase = auto-brightness
	pkgdesc = A script to automatically adjust screen brightness based on ambient light
	pkgver = 1.0.3
	pkgrel = 1
	url = https://github.com/trijpstra-fourlights/auto-brightness
	arch = any
	license = MIT
	depends = bash
	depends = awk
	depends = iio-sensor-proxy
	source = auto-brightness.sh
	source = auto-brightness.service
	source = auto-brightness.conf
	source = wait-for-als-sensor.sh
	sha256sums = 6c3f60a736cda1d9fe363253e4126ff408999e6479f8a41704f1c1ed268acf04
	sha256sums = 0cb8db3700b878e82c42cdd2e95893d12dc926f106742d6bccfe1a7f395f2800
	sha256sums = 4a2f4e4a331df6c2e3cda53b0cb38161fd5cff153253166d740d0c86b8d444a8
	sha256sums = e208630a23360de4e336649c6bc0970b3c3dfecf5b906d3e334530dd279be9c6

pkgname = auto-brightness
