[Unit]
Description=Automatically adjust screen-brightness
After=iio-sensor-proxy.service
Requires=iio-sensor-proxy.service
DependsOn=iio-sensor-proxy.service

[Service]
Type=simple
ExecStart=/usr/bin/auto-brightness

[Install]
WantedBy=multi-user.target
